/* 칸 확인용(임시) */
/* body * {
    padding: 1px;
    border: solid 1px green;
    box-sizing: border-box;
} */

/* =========기본 세팅============== */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
}

body * {
    box-sizing: border-box;
}

body::before {
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: url(./image/background.jpg) no-repeat center/cover;
    position: fixed;
    z-index: -1;
}

header,
section,
footer {
    margin: auto;
}

a:visited {
    color: black;
}

img {
    width: 100%;
}

em {
    font-style: normal;
    padding: 10px 0;
    color: white;
}

/* ============메인============================ */

section {
    max-height: max-content;
    background-color: white;
}

.section_box {
    margin: auto;
    max-height: 100%;
    max-width: calc(1920px * 0.8);
    width: calc(100% * 0.8);
    
    display: flex;
    flex-direction: column;
}

/* section 상단, 하단 마진 */
.section_box::before,
.section_box::after {
    content: "";
    display: block;
    margin: 20px 0;
}

.section_box>div {
    margin: 20px 0;
}

/* 객실 설명 */
.room_exp {
    display: flex;
    flex-wrap: wrap;
}

.room_exp * {
    margin: 10px 0;
    width: 100%;
}

.room_exp *:not(h2) {
    padding-left: 50px;
}

/* 객실 사진 */
.room_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input[type="radio"]{
    display: none;
}

.room_img_box div[class*="room"] {
    display: none;
    max-width: calc(1920px * 0.8 * 0.6);
}

.room_img_box img {
    display: flex;
}

.room_img_tab {
    display: flex;
}

label[for*="tab"] {
    display: inline-block;
    cursor: pointer;
    width: 50%;
    max-width: 100px;

    display: flex;
    align-items: center;
}

@keyframes opacity {
    from {
        opacity: .3;
    }
}

input[id="tab01"]:checked ~ .room_img_box .room_1,
input[id="tab02"]:checked ~ .room_img_box .room_2,
input[id="tab03"]:checked ~ .room_img_box .room_3,
input[id="tab04"]:checked ~ .room_img_box .room_4,
input[id="tab05"]:checked ~ .room_img_box .room_5,
input[id="tab06"]:checked ~ .room_img_box .room_6,
input[id="tab07"]:checked ~ .room_img_box .room_7,
input[id="tab08"]:checked ~ .room_img_box .room_8,
input[id="tab09"]:checked ~ .room_img_box .room_9 {
    display: block;
    animation: opacity .5s;
}

input[id="tab01"]:checked ~ .room_img_tab label[for="tab01"],
input[id="tab02"]:checked ~ .room_img_tab label[for="tab02"],
input[id="tab03"]:checked ~ .room_img_tab label[for="tab03"],
input[id="tab04"]:checked ~ .room_img_tab label[for="tab04"],
input[id="tab05"]:checked ~ .room_img_tab label[for="tab05"],
input[id="tab06"]:checked ~ .room_img_tab label[for="tab06"],
input[id="tab07"]:checked ~ .room_img_tab label[for="tab07"],
input[id="tab08"]:checked ~ .room_img_tab label[for="tab08"],
input[id="tab09"]:checked ~ .room_img_tab label[for="tab09"] {
    border: 5px solid rgba(146,111,52,0.8);
}

/* 상세 정보 */
.room_expDetail{
    display: flex;
    flex-wrap: wrap;
}

.room_expDetail p,
.room_expDetail hr {
    width: 100%;
    margin: 5px;
}

.room_expDetail>ul {
    display: flex;
    width: 100%;
}

.room_expDetail>ul>li {
    width: 50%;
}

.room_expDetail>ul>li>ul>li {
    display: flex;
    padding-left: 50px;
    margin: 2px 0;
}

.room_expDetail>ul>li>ul>li::before{
    content: "▶";
    font-size: 13px;
}

/* 안내사항 */
.notice{
    display: flex;
    flex-wrap: wrap;
}

.notice p,
.notice hr {
    width: 100%;
    margin-bottom: 5px;
}

.notice ul {
    width: 100%;
}

.notice>ul>li {
    display: flex;
    padding-left: 50px;
    margin: 2px 0;
}

.notice>ul>li::before{
    content: "▶";
    font-size: 13px;
}

/* 예약하기 버튼 */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn a {
    display: inline-block;
    width: 70%;
    height: 50px;
    margin: 20px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    color: rgba(223,190,106,0.7);
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    border: 1px solid rgba(223,190,106,0.3);
}

.btn a:hover {
    color: white;
    background-position: 99% 50%;
}

/* 서비스 */
.service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service p,
.service hr {
    width: 100%;
    margin-bottom: 5px;
}

.service>div {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.service div div {
    width: 100%;
    max-width: calc(1920px * 0.8 * 0.2);
    padding: 0px 5px;
}

.service div div a {
    background-color: rgba(146,111,52,0.8);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

/* 다른 객실 */
.other_room {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.other_room p,
.other_room hr {
    width: 100%;
    margin-bottom: 5px;
}

.other_room>div {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.other_room div div {
    width: 100%;
    max-width: calc(1920px * 0.8 * 0.2);
    padding: 0px 5px;
}

.other_room div div a{
    background-color: rgba(146,111,52,0.8);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}