/* 칸 확인용(임시) */
/* body * {
    padding: 1px;
    border: solid 1px green;
    box-sizing: border-box;
} */

/* ============================ ↓↓↓ 기본 세팅 ↓↓↓ ============================================*/
/* ↓↓↓ 공용 ↓↓↓ */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
}


body::before {
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: url(./img/background.jpg) no-repeat center/cover;
    position: fixed;
    z-index: -1;
}

header,
section,
footer {
    margin: auto;
}
/* ↑↑↑ 공용 ↑↑↑ */

/* ↓↓↓ 개인 ↓↓↓ */
body * {
    box-sizing: border-box;
}

a:visited {
    color: black;
}

img {
    width: 100%;
}

em {
    font-style: normal;
    padding: 10px 0;
    color: white;
}
/* ↑↑↑ 개인 ↑↑↑ */
/* ============================ ↑↑↑ 기본 세팅 ↑↑↑ ============================================*/


/* ============================ ↓↓↓ 섹션 ↓↓↓ ============================================*/
/* ↓↓↓ 섹션 세팅 ↓↓↓ */
section {
    max-height: max-content;
    background-color: white;
}

.section_box {
    margin: auto;
    max-height: 100%;
    width: calc(100% * 0.8);
}

/* section 상단, 하단 마진 */
.section_box>div {
    margin: 40px 0;
}
/* ↑↑↑ 섹션 세팅 ↑↑↑ */

/* ↓↓↓ 객실 설명 ↓↓↓ */
.room_exp {
    display: flex;
    flex-wrap: wrap;
}

.room_exp * {
    margin: 10px 0;
    width: 100%;
}

.room_exp *:not(h2) {
    padding-left: 50px;
}
/* ↑↑↑ 객실 설명 ↑↑↑ */

/* ↓↓↓ 객실 사진 ↓↓↓ */
.room_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input[type="radio"]{
    display: none;
}

.room_img_box div {
    display: none;
    width: 100%;
    max-width: calc(1920px * 0.8 * 0.6);
}

.room_img_box img {
    /* stretch */
    display: flex;
}

/* 탭할 사진 수평정렬 */
.room_img_tab {
    display: flex;
}

label[for*="tab"] {
    cursor: pointer;
    width: 100%;
    max-width: 100px;
    
    /* stretch */
    display: flex;
}

@keyframes opacity {
    from {
        opacity: .3;
    }
}

#tab01:checked~.room_img_box .room_1,
#tab02:checked~.room_img_box .room_2,
#tab03:checked~.room_img_box .room_3,
#tab04:checked~.room_img_box .room_4,
#tab05:checked~.room_img_box .room_5,
#tab06:checked~.room_img_box .room_6,
#tab07:checked~.room_img_box .room_7,
#tab08:checked~.room_img_box .room_8,
#tab09:checked~.room_img_box .room_9 {
    display: block;
    animation: opacity .5s;
}

#tab01:checked~.room_img_tab label[for="tab01"],
#tab02:checked~.room_img_tab label[for="tab02"],
#tab03:checked~.room_img_tab label[for="tab03"],
#tab04:checked~.room_img_tab label[for="tab04"],
#tab05:checked~.room_img_tab label[for="tab05"],
#tab06:checked~.room_img_tab label[for="tab06"],
#tab07:checked~.room_img_tab label[for="tab07"],
#tab08:checked~.room_img_tab label[for="tab08"],
#tab09:checked~.room_img_tab label[for="tab09"] {
    border: 5px solid rgba(146,111,52,0.8);
}
/* ↑↑↑ 객실 사진 ↑↑↑ */

/* ↓↓↓ 상세 정보 ↓↓↓ */
.room_expDetail p,
.room_expDetail hr {
    margin: 5px;
}

.room_expDetail>ul {
    display: flex;
}

.room_expDetail>ul>li {
    width: 100%;
}

.room_expDetail>ul>li>ul>li {
    padding-left: 50px;
    margin: 2px 0;
}
/* ↑↑↑ 상세 정보 ↑↑↑ */

/* ↓↓↓ 안내 사항 ↓↓↓ */
.room_notice p,
.room_notice hr {
    width: 100%;
    margin-bottom: 5px;
}

.room_notice>ul>li {
    padding-left: 50px;
    margin: 2px 0;
}
/* ↑↑↑ 안내 사항 ↑↑↑ */

/* ↓↓↓ 예약하기 버튼 ↓↓↓ */
.room_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_btn a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    max-width: 500px;
    height: 50px;
    margin: 20px 0;
    
    font-style: normal;
    color: rgba(223,190,106);
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    border: 1px solid rgba(223,190,106,0.3);
}

.room_btn a:hover {
    color: white;
    background-position: 99% 50%;
}
/* ↑↑↑ 예약하기 버튼 ↑↑↑ */

/* ↓↓↓ 서비스 ↓↓↓ */
.room_service p {
    margin-bottom: 5px;
}

.room_service>div {
    display: flex;
    justify-content: space-evenly;
}

.room_service div div {
    width: 100%;
    max-width: calc(1920px * 0.8 * 0.2);
    padding: 5px;
}

.room_service div div a {
    background-color: rgba(146,111,52,0.8);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.room_service div div a:hover {
    scale: 1.01;
    transition: all .5s;
}

@media (width <= 800px) {
    .room_service>div {
        flex-wrap: wrap;
        align-content: space-evenly;
    }

    .room_service>div>div {
        width: 50%;
    }
}
/* ↑↑↑ 서비스 ↑↑↑ */

/* ↓↓↓ 다른 객실 ↓↓↓ */
.room_other p{
    margin-bottom: 5px;
}

.room_other>div {
    display: flex;
    justify-content: space-evenly;
}

.room_other div div {
    width: 100%;
    max-width: calc(1920px * 0.8 * 0.2);
    padding: 5px;
}

.room_other div div a{
    background-color: rgba(146,111,52,0.8);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.room_other div div a:hover {
    scale: 1.01;
    transition: all .5s;
}
/* ↑↑↑ 다른 객실 ↑↑↑ */
/* ============================ ↑↑↑ 섹션 세팅 ↑↑↑ ============================================*/

header,
footer,
section {
    min-width: 700px;
}

