/* ============================ ↓↓↓ 주석 양식 ↓↓↓ ============================================*/
/* ============================ ↑↑↑ 주석 양식 ↑↑↑ ============================================*/
/* ↓↓↓ "작은" 주석 양식 ↓↓↓ */
/* ↑↑↑ "작은" 주석 양식 ↑↑↑ */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    height: 100vh;
    width: 100%;
}
body::before {
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/background4.jpg) no-repeat center/cover;
    position: fixed;
    z-index: -1;
}
header,
section,
footer {
    margin: auto;
}
/* ============================ ↓↓↓ section ↓↓↓ ============================================*/
/* ↓↓↓ section 내용 디자인 설정 ↓↓↓ */
section {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;

    max-height: max-content;
    min-height: 75vh;
    background-color: white;
}
.section_box {
    border: 1px solid rgb(7, 7, 7, 0);
    box-sizing: border-box;

    margin: auto;
    max-height: 100%;
    min-height: 75vh;
    max-width: calc(1920px * .8);
}
.name_Reservation {
    position: relative;

    margin-top: 100px;
    width: 100%;
    height: 100px;
    line-height: 100px;
    letter-spacing: 10px;
    font-weight: lighter;
    font-size: 30px;
    color: rgb(64, 59, 55);
    text-indent: 100px;
}
.board_title {
    text-align: center;
    font-weight: bold;
    opacity: 0.7;
    margin: 20px 0;
    line-height: max-content;
}
.name_rule_warning div {
    font-size: 20px;
    color: gray;
}
.borad_list {
    display: flex;
    width: 60%;
    margin: auto;
}
.accordion {
    margin-top: 50px;
    width: 98%;
}
.board_contents p {
    font-weight: bold;
    color: gray;
    margin: 30px 10px;
}
.board_contents ul li {
    color: gray;
    list-style: circle;
    margin: 0 0 20px 70px;
}
.board_contents ul {
    margin: 30px 0;
}
.board_contents li {
    color: gray;
    list-style: initial;
    margin-left: 20px;
}
.btn {
    display: flex;
    height: 120px;
    margin: 30px 0;
}
.btn_box {
    margin: auto;
    width: 350px;
    height: 50px;
    background-color: rgba(91, 76, 61, 0.85);
    text-align: center;
    line-height: 50px;
}
.btn_box a {
    padding: 18px 40px;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    font-size: 14px;
}
/* ↑↑↑ section 내용 디자인 설정 ↑↑↑ */
/* ↓↓↓ section 아코디언 기능 ↓↓↓ */
input[id*="Agreement"] {
    display: none;
}
input[id*="Agreement"] + label {
    display: block;
    width: 100%;
    margin: auto;
    padding: 12px 10px;
    border: 1px solid gray;
    border-bottom: 1px solid rgb(128, 128, 128, 0.3);
    border-left: 0;
    border-right: 0;
    box-sizing: border-box;
    color: gray;
    position: relative;
    text-align: left;
    cursor: pointer;
}
input[id*="Agreement"] + label em {
    background: url(../img/arrowdown.png) no-repeat;
    background-size: 70%;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    display: inline-block;
}
.board_contents {
    max-height: 0;
    transition: all .35s;
    overflow: hidden;
}
input[id*="Agreement"]:checked + label + div {
    max-height: 1000px;
}
input[id*="Agreement"]:checked + label em {
    background: url(../img/arrowup.png) no-repeat;
    background-position: center;
    background-size: 70%;
}
/* ↑↑↑ section 아코디언 기능 ↑↑↑ */
/* ============================ ↑↑↑ section ↑↑↑ ============================================*