* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    height: 100vh;
    width: 100%;
}

body::before {
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: url(./team_image/about_back.jpg) no-repeat center/cover;
    position: fixed;
    z-index: -1;
}

header,
section,
footer {
    margin: auto;
}



/* header 디자인 ========================================================= */

/* nav 디자인 ========================================================= */

header {

    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;

    display: flex;
    height: 25vh;
    background-color: transparent;
    align-content: center;
    justify-content: center;
}

.nav_box {
    display: flex;
    width: calc(1920px * .8);
    padding: 0 15px;
}

.logo_design {
    display: flex;
    height: 120px;
    width: 50%;
}

.logo_design a {
    display: flex;
    background-image: url(./team_image/logo.png);
    background-repeat: no-repeat;
    background-size: 200px;
    height: 120px;
    width: 100%;
    text-indent: -9999em;
}

.nav_main_menu {
    display: flex;
    height: 120px;
    width: 50%;
    justify-content: end;
}

.nav_top_ul {
    display: flex;
    height: 120px;
}

.nav_top_ul li {
    line-height: 120px;
    margin: 0 20px;
    padding: 0 5px;
}

.nav_top_ul li:hover>ul {
    display: block;
}

.nav_top_ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.nav_top_ul li a:hover {
    color: #e5e7eb;
}

.nav_deps1 {
    display: none;
    position: absolute;
    text-align: left;
    width: 150px;
    height: max-content;
}

.nav_deps1 li {
    display: block;
    line-height: 50px;
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0;
}

.nav_deps1 li a {
    display: block;
    background-color: white;
    padding-left: 15px;
    color: rgb(76, 78, 76);
}

.nav_deps1 li a:hover {
    background-color: rgb(237, 230, 223);
    color: white;
    transition: all 0.3s;
}


/* section 디자인 ========================================================= */

@keyframes opacity {
    from {
        opacity: 0;
    }
}

section {
    min-height: 75vh;
    max-height: max-content;
    background-color: white;
}

::selection {
    background: #705b43;
    color: white;
}

/* ========================================================== */
/* room 공통사항 */

.tab_content input {
    display: none;
}

.tab_content label {
    display: inline-block;
    padding: 10px;
    background-image: url(./team_image/circle_1.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    left: 195px;
}

.conbox {
    display: none;
    width: 450px;
    height: 500px;
    margin: 0 auto;

    box-shadow: 0 0 30px rgb(141, 132, 93);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: opacity .4s;
    border-radius: 10% 0;
}

.conbox:hover {
    opacity: .7;
}

input[id="tab1_1"]:checked~.room1_1,
input[id="tab1_2"]:checked~.room1_2,
input[id="tab1_3"]:checked~.room1_3,
input[id="tab1_4"]:checked~.room1_4,
input[id="tab2_1"]:checked~.room2_1,
input[id="tab2_2"]:checked~.room2_2,
input[id="tab2_3"]:checked~.room2_3,
input[id="tab2_4"]:checked~.room2_4,
input[id="tab3_1"]:checked~.room3_1,
input[id="tab3_2"]:checked~.room3_2,
input[id="tab3_3"]:checked~.room3_3,
input[id="tab3_4"]:checked~.room3_4 {
    display: block;
}

.tab_content input:checked+label {
    background-image: url(./team_image/circle_2.png);
}

/* ========================================================== */
/* room 1 */


.room1_1 {
    background-image: url(./team_image/room1_1.jpg);
}

.room1_2 {
    background-image: url(./team_image/room1_2.jpg);
}

.room1_3 {
    background-image: url(./team_image/room1_3.jpg);
}

.room1_4 {
    background-image: url(./team_image/room1_4.jpg);
}

/* ========================================================== */
/* room 2 */

.room2_1 {
    background-image: url(./team_image/room2_1.jpg);
}

.room2_2 {
    background-image: url(./team_image/room2_2.jpg);
}

.room2_3 {
    background-image: url(./team_image/room2_3.jpg);
}

.room2_4 {
    background-image: url(./team_image/room2_4.jpg);
}

/* ========================================================== */
/* room 3 */

.room3_1 {
    background-image: url(./team_image/room3_1.jpg);
}

.room3_2 {
    background-image: url(./team_image/room3_2.jpg);
}

.room3_3 {
    background-image: url(./team_image/room3_3.jpg);
}

.room3_4 {
    background-image: url(./team_image/room3_4.jpg);
}

/* ============================================================= */

.rooms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.room_box,
.room_go a {
    font-family: "Nanum Myeongjo", serif;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: bolder;
    color: rgb(117, 97, 72);
    opacity: .5;
}

.room_box {
    position: absolute;
    margin-left: 200px;
    margin-top: -280px;
    font-size: 30px;
    background-color: rgb(241, 235, 223);
    border-radius: 30% 0;
    padding: 3px 17px;
}

.room_go a {
    display: inline-block;
    border: 1px solid;
    text-align: center;
    width: 300px;
    line-height: 70px;
    margin: auto;

    font-size: 20px;
    text-decoration: none;
}

.room_go a:hover {
    opacity: 1;
}

.room_go {
    text-align: center;
    margin-top: 70px;
    height: 130px;
}

/* section 디자인 ========================================================= */


/* footer 디자인 ========================================================= */
footer {

    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    opacity: .9;
    color: rgb(100, 92, 72);



    display: flex;
    height: 200px;
    background-color: rgb(237, 230, 223);
    justify-content: center;
    align-content: center;
}

.footer_box {
    display: flex;
    width: calc(1920px * .8);
    margin: 0 15px;
}

.Business_infor {
    display: flex;
    width: 50%;
    height: 200px;
}

.Business_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    margin: 10px 0;
}

.nav_footer_menu {
    display: flex;
    justify-content: end;
    width: 50%;
    height: 50px;
}

.nav_bottom_ul {
    display: flex;
    margin: 10px 0;
    text-align: right;
}

.nav_bottom_ul li {
    display: inline-block;
    margin: 0 20px;
}

.nav_bottom_ul li a {
    display: block;
    text-decoration: none;
    color: #5e5e5e;
}

.nav_bottom_ul li a:hover {
    color: #3c3733;
}