* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    height: 100vh;
    width: 100%;
}

body::before {
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/about_back.jpg) no-repeat center/cover;
    position: fixed;
    z-index: -1;
}

header,
section,
footer {
    margin: auto;
}

/* ============================ ↓↓↓ about_section ↓↓↓ ============================================*/


@keyframes opacity {
    from {
        opacity: 0;
    }
}

::selection {
    background: #705b43;
    color: white;
}

.section_box {
    width: calc(1920px * .8);
}

h2,
section div {
    text-align: left;
    color: rgb(100, 92, 72);
}

h2 {
    line-height: 15vh;
    font-size: 35px;
    letter-spacing: 10px;
    opacity: .9;
}

section div>p,
.welcome,
.map,
h2,
.location>p {
    margin: 0 15px;
}

section div>p {
    width: 32%;
    white-space: pre-line;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: bolder;
    opacity: .7;

    animation: opacity 2s;
}

.welcome {
    width: 60%;
    height: 50vh;
    position: relative;
    background-image: url(../img/c8197b6606af6.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 38%;
    margin-top: -33%;
    margin-bottom: 5%;
    box-shadow: 0 0 30px rgb(141, 132, 93);

    animation: opacity 2s;
}

iframe {
    margin-top: 1%;
    box-shadow: 0 0 30px rgb(141, 132, 93);
    width: 100%;
    height: 50vh;
}

.location {
    height: 15vh;
    padding-top: 3%;
}

.location>p {
    line-height: 70%;
    padding-bottom: 5px;
}

.line {
    width: 5%;
    margin: 0 15px;
    margin-top: -2%;
    margin-bottom: 1%;

    opacity: .2;
}

/* ↓↓↓ room 공통사항_start ↓↓↓ */

.tab_content input {
    display: none;
}

.tab_content label {
    display: inline-block;
    padding: 10px;
    background-image: url(../img/circle_1.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    left: 200px;
    top: 540px;
}

.conbox {
    display: none;
    width: 450px;
    height: 500px;
    margin: 0 auto;

    box-shadow: 0 0 30px rgb(141, 132, 93);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: opacity .4s;
    border-radius: 10% 0;
}

.conbox:hover {
    opacity: .7;
}

input[id="tab1_1"]:checked~.room1_1,
input[id="tab1_2"]:checked~.room1_2,
input[id="tab1_3"]:checked~.room1_3,
input[id="tab1_4"]:checked~.room1_4,
input[id="tab2_1"]:checked~.room2_1,
input[id="tab2_2"]:checked~.room2_2,
input[id="tab2_3"]:checked~.room2_3,
input[id="tab2_4"]:checked~.room2_4,
input[id="tab3_1"]:checked~.room3_1,
input[id="tab3_2"]:checked~.room3_2,
input[id="tab3_3"]:checked~.room3_3,
input[id="tab3_4"]:checked~.room3_4 {
    display: block;
}

.tab_content input:checked+label {
    background-image: url(../img/circle_2.png);
}

/* ↑↑↑ room 공통사항_end ↑↑↑ */


/* ========================================================== */
/* room 1 */


.room1_1 {
    background-image: url(../img/room1_1.jpg);
}

.room1_2 {
    background-image: url(../img/room1_2.jpg);
}

.room1_3 {
    background-image: url(../img/room1_3.jpg);
}

.room1_4 {
    background-image: url(../img/room1_4.jpg);
}

/* ========================================================== */
/* room 2 */

.room2_1 {
    background-image: url(../img/room2_1.jpg);
}

.room2_2 {
    background-image: url(../img/room2_2.jpg);
}

.room2_3 {
    background-image: url(../img/room2_3.jpg);
}

.room2_4 {
    background-image: url(../img/room2_4.jpg);
}

/* ========================================================== */
/* room 3 */

.room3_1 {
    background-image: url(../img/room3_1.jpg);
}

.room3_2 {
    background-image: url(../img/room3_2.jpg);
}

.room3_3 {
    background-image: url(../img/room3_3.jpg);
}

.room3_4 {
    background-image: url(../img/room3_4.jpg);
}

/* ============================================================= */

.rooms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.room_box,
.room_go a {
    font-family: "Nanum Myeongjo", serif;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: bolder;
    color: rgb(117, 97, 72);
    opacity: .5;
}

.room_box {
    position: absolute;
    margin-left: 200px;
    margin-top: -280px;
    font-size: 30px;
    background-color: rgb(241, 235, 223);
    border-radius: 30% 0;
    padding: 3px 17px;
}

.room_go a {
    display: inline-block;
    border: 1px solid;
    text-align: center;
    width: 300px;
    line-height: 70px;
    margin: auto;

    font-size: 20px;
    text-decoration: none;
    letter-spacing: 5px;
}

.room_go a:hover {
    opacity: 1;
}

.room_go {
    text-align: center;
    margin-top: 80px;
    height: 130px;
}

/* ============================ ↑↑↑ about_section ↑↑↑ ============================================*/