* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    height: 100vh;
    width: 100%;
}

body::before {
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/about_back.jpg) no-repeat center/cover;
    position: fixed;
    z-index: -1;
}

header,
section,
footer {
    margin: auto;
}

/* ============================ ↓↓↓ about_section ↓↓↓ ============================================*/

/* ↓↓↓ section 기본 디자인 설정_start ↓↓↓ */

.section_box {
    width: calc(1920px * .8);
}

::selection {
    /* 드래그 색상 지정 */
    background: #705b43;
    color: white;
}

@keyframes opacity {

    /* opacity 애니메이션 설정 */
    from {
        opacity: 0;
    }
}

h2,
section div {
    text-align: left;
    color: rgb(100, 92, 72);
}

h2 {
    line-height: 15vh;
    font-size: 35px;
    letter-spacing: 10px;
    opacity: .9;
}

section div>p,
.welcome,
.map,
h2,
.location>p {
    margin: 0 15px;
}

section div>p {
    /* 소개 글 디자인 설정 */
    width: 32%;
    white-space: pre-line;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: bolder;
    opacity: .7;

    animation: opacity 2s;
}

.welcome {
    /* 소개 사진 디자인 설정 */
    width: 60%;
    height: 50vh;
    position: relative;
    background-image: url(../img/c8197b6606af6.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 38%;
    margin-top: -33%;
    margin-bottom: 5%;
    box-shadow: 0 0 30px rgb(141, 132, 93);

    animation: opacity 2s;
}

iframe {
    /* google 지도 디자인 설정 */
    margin-top: 1%;
    box-shadow: 0 0 30px rgb(141, 132, 93);
    width: 100%;
    height: 50vh;
}

.location {
    height: 15vh;
    padding-top: 3%;
}

.location>p {
    line-height: 70%;
    padding-bottom: 5px;
}

.line {
    /* 제목(h2)과 내용 사이에 있는 짧은 선 */
    width: 5%;
    margin: 0 15px;
    margin-top: -2%;
    margin-bottom: 1%;

    opacity: .2;
}

/* ↑↑↑ section 기본 디자인 설정_end ↑↑↑ */

.small_box {
    /* height: 280px; */
    overflow: hidden;
    position: relative;

    /* background-image: url(../img/room3_1.jpg); */
    /* background-color: aqua; */
    height: 920px;

    /* box-shadow: 0 0 30px rgb(141, 132, 93); */
    /* opacity: .9; */

    margin-top: 3%;
}

.small_box .about_img {
    transform: scale(1.15);
    object-fit: cover;
    transition: opacity .5s, transform 1s;

    width: 80%;
    height: 80%;

    position: relative;
    left: 10%;
    top: 10%;
}

.small_box:hover .about_img {
    transform: scale(1);
    opacity: .8;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(240, 228, 214);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text>p:nth-of-type(1) {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    margin-bottom: 10px;
    font-size: 50px;
}

.text>p:nth-of-type(2) {
    font-size: 20px;
    padding-bottom: 20px;
}

.text p {
    transform: translateY(20px);
    transition: all .5s;
    opacity: 0;
    width: 50%;

    background-color: rgb(177, 167, 142);
    opacity: .4;

}

.small_box:hover .text p {
    transform: translateY(0);
    opacity: 1;
}

.text::before {
    content: '';
    border: 2px solid;
    position: absolute;

    /* top: 20px; left: 20px; right: 20px; bottom: 20px; */
    inset: 20px;
    opacity: 0;

    transition: all .5s;
    transform: scale(1.15);
}

.small_box:hover .text::before {
    opacity: 1;
    transform: scale(1);
}

/* ↓↓↓ rooms 메인 연결 링크 삽입_start ↓↓↓ */

.room_go {
    text-align: center;
    margin-top: 80px;
    height: 130px;
}

.room_go a {
    /* text 디자인 */
    font-family: "Nanum Myeongjo", serif;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(117, 97, 72);
    letter-spacing: 5px;
    text-decoration: none;
    opacity: .5;

    /* box 디자인 */
    display: inline-block;
    border: 1px solid;
    text-align: center;
    width: 300px;
    line-height: 70px;
    margin: auto;
}

.room_go a:hover {
    opacity: 1;
}

/* ↑↑↑ rooms 메인 연결 링크 삽입_end ↑↑↑ */

/* ============================ ↑↑↑ about_section ↑↑↑ ============================================*/