/* ============================ ↓↓↓ 주석 양식 ↓↓↓ ============================================*/
/* ============================ ↑↑↑ 주석 양식 ↑↑↑ ============================================*/
/* ↓↓↓ "작은" 주석 양식 ↓↓↓ */
/* ↑↑↑ "작은" 주석 양식 ↑↑↑ */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    height: 100vh;
    width: 100%;
}
body::before {
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/background4.jpg) no-repeat center/cover;
    position: fixed;
    z-index: -1;
}
select,
button {
    cursor: pointer;
}
/* a {
    color: black;
} */

a:visited {
    color: black;
}
hr {
    display: block;
}

select {
    width: 100px;
    height: 40px;
    margin-right: 20px;
}

header,
section,
footer {
    margin: auto;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
}
/* ============================ ↓↓↓ section ↓↓↓ ============================================*/
/* ↓↓↓ section 내용 디자인 설정 ↓↓↓ */
section {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;

    max-height: max-content;
    min-height: 160vh;
    background-color: white;
}

.section_box {
    border: 1px solid rgb(7, 7, 7, 0);
    box-sizing: border-box;

    display: flex;
    max-height: max-content;
    min-height: 160vh;
    width: calc(1920px * .8);
}

@media (width <= 1500px) {
    .section_box {
        display: flex;
        flex-wrap: wrap;
    }
}

.section_left,
.section_right {
    width: 50%;
}

.section_left_sub,
.section_right_sub {
    position: relative;
    width: 100%;
}

.section_imglist {
    display: inline-block;
    position: absolute;
    top: 100px;
    width: 665px;
}

.combox {
    display: none;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 30px rgb(141, 132, 93);
}

input[type="radio"]{
    display:none;
}
.room1 {
    background-image: url(./img/room1.jpg);
    margin-bottom: 15px;
}
.room2 {
    background-image: url(./img/room2.jpg);
    margin-bottom: 15px;
}
.room3 {
    background-image: url(./img/room3.jpg);
    margin-bottom: 15px;
}
.room4 {
    background-image: url(./img/room4.jpg);
    margin-bottom: 15px;
}
.room5 {
    background-image: url(./img/room5.jpg);
    margin-bottom: 15px;
}
.room6 {
    background-image: url(./img/room6.jpg);
    margin-bottom: 15px;
}
.room7 {
    background-image: url(./img/room7.jpg);
    margin-bottom: 15px;
}
.room8 {
    background-image: url(./img/room8.jpg);
    margin-bottom: 15px;
}
.room9 {
    background-image: url(./img/room9.jpg);
    margin-bottom: 15px;
}
.room10 {
    background-image: url(./img/room10.jpg);
    margin-bottom: 15px;
}

.tabs {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.tabs img {
    width: 70px;
    height: 45px;
}

input[id="tab1"]:checked~.room1,
input[id="tab2"]:checked~.room2,
input[id="tab3"]:checked~.room3,
input[id="tab4"]:checked~.room4,
input[id="tab5"]:checked~.room5,
input[id="tab6"]:checked~.room6,
input[id="tab7"]:checked~.room7,
input[id="tab8"]:checked~.room8,
input[id="tab9"]:checked~.room9,
input[id="tab10"]:checked~.room10 {
    display: block;
    animation: opacity 1s;
}

input[id="tab1"]:checked~ .tabs .tab1,
input[id="tab2"]:checked~ .tabs .tab2,
input[id="tab3"]:checked~ .tabs .tab3,
input[id="tab4"]:checked~ .tabs .tab4,
input[id="tab5"]:checked~ .tabs .tab5,
input[id="tab6"]:checked~ .tabs .tab6,
input[id="tab7"]:checked~ .tabs .tab7,
input[id="tab8"]:checked~ .tabs .tab8,
input[id="tab9"]:checked~ .tabs .tab9,
input[id="tab10"]:checked~ .tabs .tab10{
    border: 5px solid rgb(99, 70, 7);
}

.section_detail {
    display: inline-block;
    align-items: center;
    position: relative;
    top: 700px;
    height: 500px;
    width: 100%;
}
.section_note {
    position: relative;
    top: 40px;
    width: 100%;
}
.section_detail p {
    position: relative;
    height: 50px;
    width: 100%;
}

.section_detail p span {
    position: absolute;
    display: flex;
    align-items: center;
    height: 50px;
    width: 90%;
}

.modal1_open {
    position: relative;
    left: 4%;
    font-size: 20px;
    width: 80%;
    height: 80px;
    background-color: transparent;
    border: 1px solid black;
    box-sizing: border-box;
    color: black;
}

/* ↓↓↓ modal 첫번째 창 ↓↓↓ */
.modal1 {
    display: none;
    position: fixed;
    width: 800px;
    height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.modal1_back {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.modal1_close{
    border: 0;
    background-color: transparent;
}

.modal1_close img{
    width: 50px;
}

.modal1_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 20%;
    font-size: xx-large;
    border-bottom: 1px solid black;
}

.modal1_footer {
    padding: 0 30px;
    white-space: pre-wrap;
    overflow: scroll;
    width: 100%;
    height: 80%;
}

.modal1_footer p {
    line-height: 40px;
}
/* ↑↑↑ modal 첫번째 창 ↑↑↑ */
/* ↑↑↑ section 왼쪽 ↑↑↑ */

/* ↓↓↓ section 오른쪽 ↓↓↓ */

.section_cal {
    display: flex;
    position: relative;
}
.section_sel1 {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid rgb(0, 0, 0, 0.5);
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    width: 100%;
}
.section_sel2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: 30px;
    width: 100%;
}
.section_sel2 p{
    height: 50px;
    width: 100%;
}
.section_sel2 p span {
    position: absolute;
    align-items: center;
    height: 50px;
    width: 100%;
}

.section_sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 40px;
    border-top: 1px solid rgb(0, 0, 0, 0.5);
    height: 40px;
    width: 100%;
    top: 50px;
}
.section_sum>div:last-child {
    font-size: 40px;
}

.section_menu {
    position: relative;
    text-align: center;
    height: 100px;
    top: 100px;
}

.btn {
    display: inline-block;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
}

.btn:hover {
    color: white;
    background-position: 99% 50%;
}

.section_menu a {
    width: 250px;
    height: 100%;
    font-size: 20px;
    border: 1px solid black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.modal2_open {
    width: 100px;
    height: 100%;
    font-size: 20px;
    border: 1px solid black;
}

/* ↓↓↓ modal 두번째 창 ↓↓↓ */
.modal2 {
    display: none;
    position: fixed;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.modal2_header {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 10px;
}

.modal2_close{
    border: 0;
    background-color: transparent;
}

.modal2_close img{
    width: 50px;
}

.social_btn {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.social_btn ul {
    width: 92%;
}


.social_btn li a {
    background-image: url(./img/social_btn.png);
    width: 112px;
    height: 112px;
    margin: 3px;
    text-indent: -9999em;
}

.social_btn .line {
    background-position-y: calc(-163px);
}
.social_btn .band {
    background-position-y: calc(-163px*5 + 3px);
}
.social_btn .naver {
    background-position-y: calc(-163px*8 + 6px);
}
.social_btn .face {
    background-position-y: calc(-163px*2);
}
.social_btn .X {
    background-position-y: calc(-163px*3);
}

.modal2_footer {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal2_footer>* {
    height: 40px;
    font-size: 1.4em;
}

.modal2_footer input {
    width: 200px;
}

.modal2_footer button {
    width: 70px;

}
/* ↑↑↑ modal 두번째 창 ↑↑↑ */
/* ↑↑↑ section 오른쪽 ↑↑↑ */
/* ============================ ↑↑↑ section ↑↑↑ ============================================*/
