/* 칸 확인용(임시) */
/* body * {
    padding: 1px;
    border: solid 1px green;
    box-sizing: border-box;
} */

/* =========기본 세팅============== */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
}

body * {
    box-sizing: border-box;
}

body::before {
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: url(./image/c09a3271e58fa.jpg) no-repeat center/cover;
    position: fixed;
    z-index: -1;
}

header,
section,
footer {
    margin: auto;
}

a:visited {
    color: black;
}

/* =============header======================= */

header {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;

    display: flex;
    height: 25vh;
    background-color: transparent;
    align-content: center;
    justify-content: center; 
}

.nav_box {
    display: flex;
    max-width: calc(1920px * .8);
    padding: 0 15px;
}

.logo_design {
    display: flex;
    height: 120px;
    width: 50%;
}

.logo_design a {
    display: flex;
    background-image: url(./image/41758bfd55fe9.png);
    background-repeat: no-repeat;
    background-size: 200px;
    height: 120px;
    width: 100%;
    text-indent: -9999em;
}

.nav_main_menu {
    display: flex;
    height: 120px;
    width: 50%;
    justify-content: end;
}

.nav_top_ul {
    display: flex;
    height: 120px;
}

.nav_top_ul li {
    line-height: 120px;
    margin: 0 20px;
    padding: 0 5px;
}

.nav_top_ul li:hover > ul {
    display: block;
} 

.nav_top_ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.nav_top_ul li a:hover {
    color: #e5e7eb;
}

.nav_deps1 {
    display: none;
    position: absolute;
    text-align: left;
    width: 150px;
    height: max-content;
}

.nav_deps1 li {
    display: block;
    line-height: 50px;
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0;
}

.nav_deps1 li a {
    display: block;
    background-color: white;
    padding-left: 15px;
    color: rgb(76, 78, 76);
}

.nav_deps1 li a:hover {
    background-color: rgb(237, 230, 223);
    color: white;
    transition: all 0.3s;
}


/* ============메인============================ */

section {
    max-height: max-content;
    background-color: white;
}

.section_box {
    margin: auto;
    max-height: 100%;
    max-width: calc(1920px * 0.8);
    width: calc(100% * 0.8);
    
    display: flex;
    flex-direction: column;
}

/* section 상단, 하단 마진 */
.section_box::before,
.section_box::after {
    content: "";
    display: block;
    margin: 30px 0;
}

/* 객실 설명 */
.room_exp {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.room_exp * {
    margin: 10px 0;
    width: 100%;
}

.room_exp *:not(h2) {
    padding-left: 50px;
}

/* 객실 사진 */
/* .room_img {
    display: flex;
    justify-content: center;
} */

.room_img img {
    width: 100%;
}

/* 상세 정보 */
.room_expDetail{
    margin: 20px 0;
    
    display: flex;
    flex-wrap: wrap;
}

.room_expDetail p,
.room_expDetail hr {
    width: 100%;
    margin-bottom: 5px;
}

.room_expDetail ul {
    width: 50%;
}

.room_expDetail>ul>li {
    padding-left: 50px;
}

.room_expDetail>ul>li::before{
    content: "▶ ";
    font-size: 10px;
}

/* 안내사항 */
.notice{
    margin: 20px 0;
    
    display: flex;
    flex-wrap: wrap;
}

.notice p,
.notice hr {
    width: 100%;
    margin-bottom: 5px;
}

.notice ul {
    width: 100%;
}

.notice>ul>li {
    padding-left: 50px;
}

.notice>ul>li::before{
    content: "▶ ";
    font-size: 10px;
}

/* 예약하기 버튼 */

.btn {
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn a {
    display: inline-block;
    width: 70%;
    height: 50px;
    margin: 20px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    color: rgba(223,190,106,0.7);
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    border: 1px solid rgba(223,190,106,0.3);
}

.btn a:hover {
    color: white;
    background-position: 99% 50%;
}

/* 서비스 */
.service {
    margin: 20px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service>p,
.service hr {
    width: 100%;
    margin-bottom: 5px;
}

.service>div {
    width: 25%;
    padding: 0 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service div img {
    margin-top: 10px;
    width: 100%;
}

.service div p{
    width: 100%;
    text-align: center;
    background-color: rgba(146,111,52,0.8);
}

.service div p a {
    display: block;
    color: white;

    height: 100%;
    padding: 10px;
}

/* 다른 객실 */
.other_room {
    margin: 20px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.other_room p,
.other_room hr {
    width: 100%;
    margin-bottom: 5px;
}

.other_room div {
    width: 50%;
    padding: 0 5px;

    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.other_room div img {
    margin-top: 10px;
    width: 100%;
}

.other_room div p{
    background-color: rgba(146,111,52,0.8);
}

.other_room div p a {
    display: block;
    color: white;
    height: 100%;
    padding: 10px;
}

/* =================푸터======================= */
footer {
    display: flex;
    height: 200px;
    background-color: rgb(237, 230, 223);
    justify-content: center;
    align-content: center;
}

.footer_box {
    display: flex;
    width: calc(1920px * .8);
    margin: 0 15px;
}

.Business_infor {
    display: flex;
    width: 50%;
    height: 200px;
}

.Business_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    margin: 10px 0;
}

.nav_footer_menu {
    display: flex;
    justify-content: end;
    width: 50%;
    height: 50px;
}

.nav_bottom_ul {
    display: flex;
    margin: 10px 0;
    text-align: right;
}

.nav_bottom_ul li {
    display: inline-block;
    margin: 0 20px;
}

.nav_bottom_ul li a {
    display: block;
    text-decoration: none;
    color: #5e5e5e;
}

.nav_bottom_ul li a:hover {
    color: #3c3733;
}