* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
}

body::before {
    content: "";
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../../image/background4.jpg) no-repeat center/cover;
}

header,
section,
footer {
    margin: auto;
}

/* header 디자인 ========================================================= */






/* section 디자인 ========================================================= */

/* ↓↓↓ section 기본 설정 ↓↓↓ */
section {
    min-height: 75vh;
    max-height: max-content;
    background-color: white;
}
/* ↑↑↑ section 기본 설정 ↑↑↑ */



/* ↓↓↓ 사진 상단 문구 위치 정렬 및 디자인 ↓↓↓↓ */
.contitle{   
    display: grid;
    justify-content: center;
    font-size: 30px;
    font-weight: 100;
    line-height: 40px;
    padding: 50px 0;
}

.contitle span{
    font-size: 20px;
    font-weight: bold;
    color: rgba(223,190,106);
}
/* ↑↑↑ 사진 상단 문구 위치 정렬 및 디자인 ↑↑↑ */








/* ↓↓↓ 사진에 슬라이드 기능 추가 ↓↓↓↓ */
.pictureMore input[id*="slide"] {
    display: none;
}

.pictureMore .slidewrap {
    margin:0 auto;
    overflow: hidden;
    max-width: 1200px;
}

.pictureMore .slidelist {
    font-size: 0;
    white-space: nowrap;
}

.pictureMore .slidelist>li {
    width: 100%;
    transition: all 0.5s;
    display: inline-block;
    vertical-align: middle;
}

.pictureMore .slidelist>li>a {
    display: block;
    position: relative;
}

.pictureMore .slidelist>li> a img {
    width: 100%;
}

.pictureMore .slidelist label {
    top: 50%;
    z-index: 10;
    padding: 50px;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
}

.pictureMore .slidelist .left {
    left: 30px;
    background: url(../img/chevron-double-left\ 1.png) center center / 100% no-repeat;
}

.pictureMore .slidelist .right {
    right: 30px;
    background: url(../img/chevron-double-right\ 1.png ) center center / 100% no-repeat;
}

#slide01:checked~.slidewrap .slidelist>li {transform: translateX(0%);}
#slide02:checked~.slidewrap .slidelist>li {transform: translateX(-100%);}
#slide03:checked~.slidewrap .slidelist>li {transform: translateX(-200%);}

#slide01:checked~.underList label[for="slide01"] ,
#slide02:checked~.underList label[for="slide02"] ,
#slide03:checked~.underList label[for="slide03"] 
{
    cursor: pointer;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(223,190,106);
    background-image: url(../img/circle_2.png);
}
/* ↑↑↑ 사진에 슬라이드 기능 추가 ↑↑↑ */


/* ↓↓↓ 사진 하단 작은 원에 기능 추가 ↓↓↓↓ */
.underList {
    gap: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.underList label {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(223,190,106,0.5);
    background-image: url(../img/circle_1.png);
}
/* ↑↑↑ 사진 하단 작은 원에 기능 추가 ↑↑↑ */



.pictureMore .img:hover {
    scale: 1.1;
    transition: all 0.8s;
}



/* ↓↓↓ 바베큐 화면의 이용안내 문구 정렬 ↓↓↓*/
.useBox{
    margin: auto;
    padding-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.Box1 li {
    font-size: 1.5em;
    padding-bottom: 20px;
}

.Box2{
    padding: 15px;
    border: 1px solid rgba(223,190,106);   
}

.Box2>ol>li {
    padding: 5px 0 10px 0;
}

.upperBox {
    font-size: 1.2em;
    font-weight: bold;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.box li{
    padding: 0 0 5px 30px;
}

.except {
    margin-left: 15px;
}
/* ↑↑↑ 바베큐 화면의 이용안내 문구 정렬 ↑↑↑ */
/* =========================================================================== */