* {
    margin: 0;
    padding:0;
    /* box-sizing: border-box;
    border: 1px solid red; */
}
ul, li {
    list-style: none;
}

[name="slide"] {display: none;} 
.slidebox {position: relative; max-width: 1000px; width:100%; margin:0 auto;}
.slidebox img {position: relative; max-width: 100%;}
.slidebox .slidelist {
    white-space: nowrap;
    font-size:0;
    overflow:hidden;
}

/* 체크박스 스타일 지정 */
.labelbox {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 30px;
    top: 95%;
    text-align: center;
}

/* input[id*="slide"] + label { */
.labelbox label {
    display: inline-block;
    width: 50px;
    height: 30px;
    position: relative;
    cursor: pointer;
    z-index: 5;
}

/* input[id*="slide"] + label em { */
.labelbox>label em {
    display: inline-block;
    line-height: 50px;
    background-color: white;
    border-radius: 15%;
    padding: 3px 0;
    opacity: 0.3;
    width: 50px;
    height: 5px;
}

input[id*="slide01"]:checked ~ .labelbox label[for*="slide01"] em {
    background-color: white;
    opacity: 1;
}
input[id*="slide02"]:checked ~ .labelbox label[for*="slide02"] em {
    background-color: white;
    opacity: 1;
}
input[id*="slide03"]:checked ~ .labelbox label[for*="slide03"] em {
    background-color: white;
    opacity: 1;
}
input[id*="slide04"]:checked ~ .labelbox label[for*="slide04"] em {
    background-color: white;
    opacity: 1;
}

/* 체크박스 스타일 지정 */

.slidebox .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .35s;
}
.slidebox .slideitem label {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}
label.left {
    left: 20px;
    background-color: gray;
    background-image: url(../img/arrowdown.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
label.right {
    right: 20px;
    background-color: gray;
    background-image: url(../img/arrowup.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0);animation: slide01 20s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation: slide02 20s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%);animation: slide03 20s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%);animation: slide04 20s infinite;}

@keyframes slide01 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:-100%;}
    48% {left:-100%;}
    50% {left:-200%;}
    73% {left:-200%;}
    75% {left:-300%;}
    98% {left:-300%;}
    100% {left:0%;}
}

@keyframes slide02 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:-100%;}
    48% {left:-100%;}
    50% {left:-200%;}
    73% {left:-200%;}
    75% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

@keyframes slide03 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:-100%;}
    48% {left:-100%;}
    50% {left:200%;}
    73% {left:200%;}
    75% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

@keyframes slide04 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:300%;}
    48% {left:300%;}
    50% {left:200%;}
    73% {left:200%;}
    75% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}