* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: url(../img/background1.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

header,
section,
footer {
    width: calc(1920px * .8);
    margin: auto;
}

/* header 디자인 ========================================================= */

/* nav 디자인 ========================================================= */

header {
    height: 25vh;
    background-color: transparent;
}

.nav_box {
    height: 120px;
    padding: 0 15px;
}

.logo_design {
    height: 120px;
    width: 50%;
}

.logo_design a {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 200px;
    height: 120px;
    width: 100%;
    display: inline-block;
    text-indent: -9999em;
}

.nav_main_menu {
    height: 120px;
    width: 50%;
    margin-top: -120px;
    margin-left: 50%;
    margin-right: 10%;
}

.nav_top_ul {
    height: 120px;
    padding: 0;
    text-align: right;
    position: relative;
}

.nav_top_ul li {
    display: inline-block;
    line-height: 120px;
    margin: 0 20px;
    padding: 0 5px;
}

.nav_top_ul li:hover > ul {
    display: block;
} 

.nav_top_ul li a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    display: block;
}

.nav_top_ul li a:hover {
    color: #e5e7eb;
}

.nav_deps1 {
    display: none;
    position: absolute;
    text-align: left;
    width: 150px;
    height: max-content;
    /* opacity: 0;
    transition: 0.5s;
    animation: backwards; */
}

.nav_deps1 li {
    display: block;
    line-height: 50px;
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0;
}

.nav_deps1 li a {
    display: block;
    background-color: white;
    padding-left: 15px;
    color: rgb(76, 78, 76);
}

/* .nemu_hover:hover + .nav_deps1 {
    opacity: 1;
} */

.nav_deps1 li a:hover {
    background-color: rgb(237, 230, 223);
    color: white;
    transition: all 0.3s;
}

/* section 디자인 ========================================================= */

section {
    position: relative;
    min-height: 75vh;
    max-height: max-content;

}




/* section - 약관동의 기능부여 ========================================================= */

/* footer 디자인 ========================================================= */
footer {
    height: 200px;
    background-color: rgb(212, 166, 226);
}

.footer_box {
    margin: 0 15px;
}

.Business_infor {
    width: 50%;
    height: 200px;
}

.Business_item {
    padding-top: 20px;
    text-align: left;
}

.Business_item p {
    margin-bottom: 5px;
}

.nav_footer_menu {
    width: 50%;
    height: 200px;
    margin-top: -200px;
    margin-left: 50%;
    margin-right: 15px;
}

.nav_bottom_ul {
    padding-top: 20px;
    text-align: right;
}

.nav_bottom_ul li {
    display: inline-block;
    margin: 0 20px;
}

.nav_bottom_ul li a {
    color: #5e5e5e;
    text-decoration: none;
    display: block;
}

.nav_bottom_ul li a:hover {
    color: #3c3733;
}