/* ============================ ↓↓↓ "큰" 주석 양식 ↓↓↓ ============================================*/
/* ============================ ↑↑↑ "큰" 주석 양식 ↑↑↑ ============================================*/
/* ↓↓↓ "작은" 주석 양식 ↓↓↓ */
/* ↑↑↑ "작은" 주석 양식 ↑↑↑ */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    height: 100vh;
    width: 100%;
}
header,
footer {
    position: relative;
    z-index: 1;
    margin: auto;
}
/* ============================ ↓↓↓ 백그라운드 슬라이드 설정 ↓↓↓ ============================================*/
[name="slide"] {display: none;}
.slidebox {position: absolute; width:100%; margin:0 auto;}
.slidebox img {object-fit: cover; filter: brightness(70%); width: 100%; height: 100vh; opacity: 0.9;}
.slidebox .slidelist {
    white-space: nowrap;
    font-size:0;
    overflow:hidden;
}
/* ↓↓↓ 중하단 체크박스 스타일 지정 ↓↓↓ */
.labelbox {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 30px;
    top: 95%;
    text-align: center;
    z-index: 1;
}
.labelbox label {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}
.labelbox>label em {
    display: inline-block;
    line-height: 50px;
    background-color: white;
    border-radius: 15%;
    padding: 3px 0;
    opacity: 0.3;
    width: 30px;
    height: 2px;
}
input[id*="slide01"]:checked ~ .labelbox label[for*="slide01"] em ,
input[id*="slide02"]:checked ~ .labelbox label[for*="slide02"] em,
input[id*="slide03"]:checked ~ .labelbox label[for*="slide03"] em,
input[id*="slide04"]:checked ~ .labelbox label[for*="slide04"] em {
    background-color: white;
    opacity: 1;
}
/* ↑↑↑ 중하단 체크박스 스타일 지정 ↑↑↑ */

/* ↓↓↓ 슬라이드 효과 설정 ↓↓↓ */
.slidebox .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all 1s;
}
.slidebox .slideitem label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}
label.left {
    left: 20px;
    background-image: url(../img/arrowleft.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
}
label.right {
    right: 20px;
    background-image: url(../img/arrowright.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
}
[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0);animation: slide01 20s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation: slide02 20s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%);animation: slide03 20s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%);animation: slide04 20s infinite;}

@keyframes slide01 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:-100%;}
    48% {left:-100%;}
    50% {left:-200%;}
    73% {left:-200%;}
    75% {left:-300%;}
    98% {left:-300%;}
    100% {left:0%;}
}
@keyframes slide02 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:-100%;}
    48% {left:-100%;}
    50% {left:-200%;}
    73% {left:-200%;}
    75% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}
@keyframes slide03 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:-100%;}
    48% {left:-100%;}
    50% {left:200%;}
    73% {left:200%;}
    75% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}
@keyframes slide04 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:300%;}
    48% {left:300%;}
    50% {left:200%;}
    73% {left:200%;}
    75% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}
/* ↑↑↑ 슬라이드 효과 설정 ↑↑↑ */
/* ============================ ↑↑↑ 백그라운드 슬라이드 설정 ↑↑↑ ============================================*/

/* ============================ ↓↓↓ header ↓↓↓ ============================================*/
/* ↓↓↓ header 영역 디자인 ↓↓↓ */
header {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    opacity: .9;
    color: rgb(100, 92, 72);

    display: flex;
    height: 25vh;
    background-color: transparent;
    justify-content: center;
}
.nav_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
    position: fixed;
    max-width: calc(1920px * .8);
}
/* ↓↓↓ 좌측 상단 메인로고 설정 ↓↓↓ */
.logo_design {
    display: flex;
    height: 120px;
    width: 30%;
    position: fixed;
}
.logo_design a {
    display: flex;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 200px;
    width: 50%;
    text-indent: -9999em;
}
/* ↑↑↑ 좌측 상단 메인로고 설정 ↑↑↑ */

/* ↓↓↓ NAV 메뉴 설정 ↓↓↓*/
.login_join_menu,
.nav_main_menu {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: end;
    align-items: start;
}
.nav_main_menu>.nav_top_ul {
    display: flex;
    padding-right: 15px;
    align-items: baseline;
    position: relative;
}
.nav_top_ul>li {
    display: flex;
    justify-content: center;
    height: max-content;
    cursor: pointer;
}
.nav_top_ul>li>a {
    margin: 0 15px;
    padding: 20px;
    color: rgba(255, 255, 255);
    text-decoration: none;
}
.nav_top_ul>li>a:hover {
    color: rgb(95, 95, 95);
}
/* ↑↑↑ NAV 메뉴 설정 ↑↑↑ */

/* ↓↓↓ login&join 설정 ↓↓↓*/
.login_join_menu>.nav_top_ul {
    display: flex;
    justify-content: end;
    padding-right: 15px;
}
/* ↑↑↑ login&join 설정 ↑↑↑ */

/* ↓↓↓ 2차 메뉴(deps 영역) ↓↓↓ */
.nav_deps {
    visibility: none;
    opacity: 0;
    position: absolute;
    top:50px;
}
.nav_top_ul>li:hover .nav_deps {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 120px;

    position: absolute;
    transition: 0.5s;
    opacity: 1;
}
.nav_deps>li {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: white;
    color: rgb(76, 78, 76);
    cursor: pointer;
}
.nav_deps>li>a {
    display: flex;
    width: 100px;
    padding: 15px;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    text-indent: 8px;
    text-decoration: none;
}
.nav_deps>li:hover {
    transition: all 0.35s;
    background-color: rgb(237, 230, 223);
}
.nav_deps>li>a {
    color: rgb(35, 35, 35);
}
.nav_deps>li:hover a{
    color: white;
}
/* ↑↑↑ 2차 메뉴(deps 영역) ↑↑↑ */
/* ============================ ↑↑↑ header ↑↑↑ ============================================*/

/* ============================ ↓↓↓ section ↓↓↓ ============================================*/
section {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(100, 92, 72);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    text-align: center;
}
.section_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: calc(1920px * .8);
}
.Slogan {
    position: absolute;
    top: 45%;
    font-size: 18px;
    font-weight: 100;
    color: rgb(230, 226, 226);
}

.VIST_btn {
    position: absolute;
    top: 50%;
    border: 1px solid rgb(230, 226, 226);;
    box-sizing: border-box;
    opacity: 0.7;
    width: 100px;
    height: 50px;
}

.VIST_btn:hover {
    background-color: rgb(254, 254, 254);
    color: rgb(95, 95, 95);
    transition: all 0.5s;
    cursor: pointer;
}

.VIST_btn a {
    text-decoration: none;
    line-height: 50px;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 100;
    color: rgb(230, 226, 226);
}
/* ============================ ↑↑↑ section ↑↑↑ ============================================*/

/* ============================ ↓↓↓ footer ↓↓↓ ============================================*/
footer {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    opacity: .9;
    color: rgb(100, 92, 72);

    display: flex;
    height: 200px;
    background-color: rgb(237, 230, 223);
    justify-content: center;
    align-content: center;
}
.footer_box {
    display: flex;
    width: calc(1920px * .8);
    margin: 0 15px;
}
/* ↓↓↓ biz 정보 디자인 설정 ↓↓↓*/
.Business_infor {
    display: flex;
    width: 50%;
    height: 200px;
}
.Business_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    margin: 10px 0;
}
/* ↑↑↑ biz 정보 디자인 설정 ↑↑↑ */
/* ↓↓↓ footer nav 설정 ↓↓ ↓*/
.nav_footer_menu {
    display: flex;
    justify-content: end;
    width: 50%;
    height: 50px;
}
.nav_bottom_ul {
    display: flex;
    margin: 10px 0;
    text-align: right;
}
.nav_bottom_ul li {
    display: inline-block;
    margin: 0 20px;
}
.nav_bottom_ul li a {
    display: block;
    text-decoration: none;
    color: rgb(95, 95, 95);
}
.nav_bottom_ul>li>a:hover {
    color: black;
}
/* ↑↑↑ footer nav 설정 ↑↑↑ */
/* ============================ ↑↑↑ footer ↑↑↑ ============================================*/