* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    height: 100vh;
    width: 100%;
}

body::before {
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/background4.jpg) no-repeat center/cover;
    position: fixed;
    z-index: -1;
}

header,
section,
footer {
    margin: auto;
}

/* header 디자인 ========================================================= */

/* nav 디자인 ========================================================= */

header {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;

    display: flex;
    height: 25vh;
    background-color: transparent;
    align-content: center;
    justify-content: center; 
}

.nav_box {
    display: flex;
    width: calc(1920px * .8);
    padding: 0 15px;
}

.logo_design {
    display: flex;
    height: 120px;
    width: 50%;
}

.logo_design a {
    display: flex;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 200px;
    height: 120px;
    width: 100%;
    text-indent: -9999em;
}

.nav_main_menu {
    display: flex;
    height: 120px;
    width: 50%;
    justify-content: end;
}

.nav_top_ul {
    display: flex;
    height: 120px;
}

.nav_top_ul li {
    line-height: 120px;
    margin: 0 20px;
    padding: 0 5px;
}

.nav_top_ul li:hover > ul {
    display: block;
} 

.nav_top_ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.nav_top_ul li a:hover {
    color: #e5e7eb;
}

.nav_deps1 {
    display: none;
    position: absolute;
    text-align: left;
    width: 150px;
    height: max-content;
}

.nav_deps1 li {
    display: block;
    line-height: 50px;
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0;
}

.nav_deps1 li a {
    display: block;
    background-color: white;
    padding-left: 15px;
    color: rgb(76, 78, 76);
}

.nav_deps1 li a:hover {
    background-color: rgb(237, 230, 223);
    color: white;
    transition: all 0.3s;
}


/* section 디자인 ========================================================= */

section {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;

    max-height: max-content;
    min-height: 75vh;
    background-color: white;
}

.section_box {
    border: 1px solid rgb(7, 7, 7, 0);
    box-sizing: border-box;

    margin: auto;
    max-height: 100%;
    min-height: 75vh;
    width: calc(1920px * .8);
}

.name_Reservation {
    position: relative;

    margin-top: 100px;
    width: 100%;
    height: 100px;
    line-height: 100px;
    letter-spacing: 10px;
    font-weight: lighter;
    font-size: 30px;
    color: rgb(64, 59, 55);

    text-indent: 100px;
}

.board_title {
    text-align: center;

    font-weight: bold;
    opacity: 0.7;
    margin: 20px 0;
    line-height: max-content;
}

.name_rule_warning div {
    font-size: 20px;
    color: gray;
}

.borad_list {
    display: flex;
    width: 60%;
    margin: auto;
}

.accordion {
    margin-top: 50px;
    width: 98%;
}

.board_contents p {
    font-weight: bold;
    color: gray;
    margin: 30px 10px;
}

.board_contents ul li {
    color: gray;
    list-style: circle;
    margin: 0 0 20px 70px;
}

.board_contents ul {
    margin: 30px 0;
}

.board_contents li {
    color: gray;
    list-style: initial;
    margin-left: 20px;
}

.btn {
    display: flex;
    height: 120px;
    margin: 30px 0;
}

.btn_box {
    margin: auto;
    width: 350px;
    height: 50px;
    background-color: rgba(91, 76, 61, 0.85);
    text-align: center;
    line-height: 50px;
}

.btn_box a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
}

/* section 디자인 ========================================================= */

/* section - 약관동의 기능부여 ========================================================= */

input[id*="Agreement"] {
    display: none;
}

input[id*="Agreement"] + label {
    display: block;
    width: 100%;
    margin: auto;
    padding: 12px 10px;
    border: 1px solid gray;
    border-bottom: 1px solid rgb(128, 128, 128, 0.3);
    border-left: 0;
    border-right: 0;
    color: gray;
    position: relative;
    text-align: left;
    cursor: pointer;
}

input[id*="Agreement"] + label em {
    background: url(../img/arrowdown.png) no-repeat;
    background-size: 70%;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    display: inline-block;
}

.board_contents {
    max-height: 0;
    transition: all .35s;
    overflow: hidden;
}

input[id*="Agreement"]:checked + label + div {
    max-height: 1000px;
}

input[id*="Agreement"]:checked + label em {
    background: url(../img/arrowup.png) no-repeat;
    background-position: center;
    background-size: 70%;
}

/* section - 약관동의 기능부여 ========================================================= */

/* footer 디자인 ========================================================= */

footer {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    opacity: .9;
    color: rgb(100, 92, 72);

    display: flex;
    height: 200px;
    background-color: rgb(237, 230, 223);
    justify-content: center;
    align-content: center;
}

.footer_box {
    display: flex;
    width: calc(1920px * .8);
    margin: 0 15px;
}

.Business_infor {
    display: flex;
    width: 50%;
    height: 200px;
}

.Business_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    margin: 10px 0;
}

.nav_footer_menu {
    display: flex;
    justify-content: end;
    width: 50%;
    height: 50px;
}

.nav_bottom_ul {
    display: flex;
    margin: 10px 0;
    text-align: right;
}

.nav_bottom_ul li {
    display: inline-block;
    margin: 0 20px;
}

.nav_bottom_ul li a {
    display: block;
    text-decoration: none;
    color: #5e5e5e;
}

.nav_bottom_ul li a:hover {
    color: #3c3733;
}