* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    height: 100vh;
    width: 100%;
}

body::before {
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: url(./c9af05fe13543.jpg) no-repeat center/cover;
    position: fixed;
    z-index: -1;
}

header,
section,
footer {
    margin: auto;
}

/* header 디자인 ========================================================= */

/* nav 디자인 ========================================================= */
header {
    display: flex;
    height: 25vh;
    background-color: transparent;
    align-content: center;
    justify-content: center;
}

.nav_box {
    display: flex;
    width: calc(1920px * .8);
    padding: 0 15px;
}

.logo_design {
    display: flex;
    height: 120px;
    width: 50%;
}

.logo_design a {
    display: flex;
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-size: 200px;
    height: 120px;
    width: 100%;
    text-indent: -9999em;
}

.nav_main_menu {
    display: flex;
    height: 120px;
    width: 50%;
    justify-content: end;
}

.nav_top_ul {
    display: flex;
    height: 120px;
}

.nav_top_ul li {
    line-height: 120px;
    margin: 0 20px;
    padding: 0 5px;
}

.nav_top_ul li:hover>ul {
    display: block;
}

.nav_top_ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.nav_top_ul li a:hover {
    color: #e5e7eb;
}

.nav_deps1 {
    display: none;
    position: absolute;
    text-align: left;
    width: 150px;
    height: max-content;
}

.nav_deps1 li {
    display: block;
    line-height: 50px;
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0;
}

.nav_deps1 li a {
    display: block;
    background-color: white;
    padding-left: 15px;
    color: rgb(76, 78, 76);
}

.nav_deps1 li a:hover {
    background-color: rgb(237, 230, 223);
    color: white;
    transition: all 0.3s;
}


/* section 디자인 ========================================================= */

section {
    min-height: 150vh;
    max-height: max-content;
    background-color: rgb(255, 255, 255);
}

.section_box {
    margin: auto;
    max-height: 100%;
    min-height: 75vh;
    width: calc(1920px * .8);
    /* border: 1px solid red; */
    box-sizing: border-box;
    text-align: center;
}

.space{
    height: 50px;
}
.section_menu{
    display: inline-block;
    cursor:pointer
}
.space1{
    width: 50px;
}
.section_menu:hover{
    text-decoration: underline black 1px;
}
.notice_sub{
    margin-top: 100px;
    font-size: 300%;
    font-weight: bold;
}
.notice_ment{
    margin-top: 10px;
}
.d{
    margin-top: 100px;
    background: url(./4544806_box_business_comerce_delivery_shop_icon.png);
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    display: inline-block;
    opacity: 0.5;
}
.c{
    opacity: .5;
}


button {
    border: 0;
    padding: 7.5px 10px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    transition: 0.25s;
    color: #1e6b7b;
    border: 3px solid aliceblue;
}



button:hover {
    color: #1e6b7b;
    background: aliceblue;
}

button:active {
    transform: scale(1.25);
}
.second{
    background: url(./b2ce6df247e04.png);
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    margin-top: 300px;
}
button{
    margin-top:30px ;
    margin-bottom: 30px;
}
section>div div{
    font-size: 1.25em;

}
section button{
    font-size: 1.15em;
}

section div{
    font-family: "Stylish", serif;
}



/* section 디자인 ========================================================= */


/* footer 디자인 ========================================================= */
footer {
    display: flex;
    height: 200px;
    background-color: rgb(237, 230, 223);
    justify-content: center;
    align-content: center;
}

.footer_box {
    display: flex;
    width: calc(1920px * .8);
    margin: 0 15px;
}

.Business_infor {
    display: flex;
    width: 50%;
    height: 200px;
}

.Business_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    margin: 10px 0;
}

.nav_footer_menu {
    display: flex;
    justify-content: end;
    width: 50%;
    height: 50px;
}

.nav_bottom_ul {
    display: flex;
    margin: 10px 0;
    text-align: right;
}

.nav_bottom_ul li {
    display: inline-block;
    margin: 0 20px;
}

.nav_bottom_ul li a {
    display: block;
    text-decoration: none;
    color: #5e5e5e;
}

.nav_bottom_ul li a:hover {
    color: #3c3733;
}