/* 임시용 */
body * {
    border: 1px solid red;
    padding: 1px;
}

/* ============================ ↓↓↓ 모달 기본 설정 ↓↓↓ ============================================*/
.modal * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */

    cursor: auto;
    text-decoration: none;
}

/* ============================ ↑↑↑ 모달 기본 설정 ↑↑↑ ============================================*/


/* ============================ ↓↓↓ 로그인 클릭버튼 ↓↓↓ ============================================*/
.modal input[type="checkbox"],
.modal input[type="radio"] {
    display: none;
}

.modal label[for="modal_login"] {
    /* 억지 치수 */
    padding: 20px 10px;
    cursor: pointer;
    
    display: flex;
    align-self: flex-end;
}

.modal label[for="modal_login"]:hover{
    color: rgb(76, 78, 76);
}
/* ============================ ↑↑↑ 로그인 클릭버튼 ↑↑↑ ============================================*/

/* ============================ ↓↓↓ 로그인 모달팝업 ↓↓↓ ============================================*/
/* ↓↓↓ 로그인(모달) ↓↓↓ */
.modal_box {
    display: none;
    background-color: white;
    padding: 20px;
    width: 400px;
    
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
}

.modal_box * {
    color: black;
}

.modal_box>div>a {
    font-size: 1.5em;
    padding: 10px 10px;
    
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.modal_box hr {
    margin: 15px;
}

.modal_box .info form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.modal_box .info form * {
    margin: 5px;
    padding: 10px;
    width: 80%;
    border: 1px solid black;
    border-radius: 2px;
}

.modal_box .info form button {
    cursor: pointer;
    color: white;
    background-color: rgba(146,111,52,0.8);
}

.modal_box div {
    display: flex;
    justify-content: space-evenly;
}

.modal_box div label,
.modal_box div a {
    font-size: 13px;
    cursor: pointer;
}
/* ↑↑↑ 로그인(모달) ↑↑↑ */

/* ↓↓↓ 로그인(모달) 열기&닫기 ↓↓↓ */
.modal input[type="checkbox"]:checked ~ .modal_box{
    display: block;
}

.modal input[type="checkbox"]:checked ~ .modal_box .login{
    display: block;
}

.modal input[id="id_serch"]:checked ~ .modal_box .id_serch,
.modal input[id="pw_serch"]:checked ~ .modal_box .pw_serch {
    display: none;
}
/* ↑↑↑ 로그인(모달) 열기&닫기 ↑↑↑ */

/* ↓↓↓ 로그인(모달) 열었을 때 배경 ↓↓↓ */
.modal input[type="checkbox"]:checked ~ .modal_bg{
    width: 100%;
    height: 100vh;
    height: calc(100vh + 200px);
    background-color: rgb(146, 146, 146);
    opacity: .7;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
/* ↑↑↑ 로그인(모달) 열었을 때 배경 ↑↑↑ */
/* ============================ ↑↑↑ 로그인 모달팝업 ↑↑↑ ============================================*/

/* ============================ ↓↓↓ 아이디 찾기 모달팝업 ↓↓↓ ============================================*/
.modal .modal_box div .id_serch {
    display: none;
}

.modal .modal_box div input[id="id_serch"]:checked ~ .id_serch{
    display: block;
}

.modal .modal_box div input[id="id_serch"]:checked ~ .login{
    display: none;
}
/* ============================ ↑↑↑ 아이디 찾기 모달팝업 ↑↑↑ ============================================*/

/* ============================ ↓↓↓ 비밀번호 찾기 모달팝업 ↓↓↓ ============================================*/
.modal .modal_box div .pw_serch {
    display: none;
}

.modal .modal_box div input[id="pw_serch"]:checked ~ .pw_serch{
    display: block;
}

.modal .modal_box div input[id="pw_serch"]:checked ~ .login{
    display: none;
}
/* ============================ ↑↑↑ 비밀번호 찾기 모달팝업 ↑↑↑ ============================================*/