* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    height: 100vh;
    width: 100vw;
}

body::before {
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../image/background4.jpg) no-repeat center/cover;
    position: fixed;
    z-index: -1;
}

header,
section,
footer {
    margin: auto;
}
/* section 디자인 =====================================================================*/

section div {
    /* border: 1px solid rgb(180, 180, 180);*/    /*(영역 확인용)border */
}
/* =====================↓↓↓↓폰트 설정↓↓↓↓===============================================*/
.first_box span,
.grid_sub2 {
    font-family: "Noto Serif KR", serif;
    font-weight: 400px;
    font-style: normal;
    color: rgb(154, 136, 119);
}
.Question>p>span,
button,label,a {
    font-family: "Lora", serif;
    font-weight:500px;
    font-style: normal;
    
}
span::selection,                                 /*드래그 색상 변경*/
.section_bottom::selection,
.big::selection
{
    background: #e4d4cc;
    color: #72645c;
}
/* -===========↓↓↓↓Section 백그라운드(기본 set)↓↓↓↓======================================*/
section {
    /* min-height: 40vh; */
    max-height: max-content;
    background-color: rgb(255, 255, 255);
}
.section_box {
    margin: auto;
    max-height: 100%;
    min-height:  max-content;
    max-width: calc(1920px * .8);
    min-width: 600px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
/* ==============↓↓↓↓Section grid 골조설정↓↓↓↓============================================*/
.grid_box {
    padding: 50px ;
    display: grid;
    grid-template: 1fr/ 1fr 1fr;               /*main grid박스(1행X2열)*/
}
.grid_sub1 {
    display: grid;
    grid-template: 3fr 2fr                     /*오른쪽 grid박스(5행)*/
}
.grid_sub2{
    display: grid;                             /*왼쪽 grid박스(5행)*/
    grid-template-rows: 0.15fr 0.7fr 0.7fr 2.5fr 1fr;
}
/* =====================↓↓↓↓박스내 세부설정↓↓↓↓============================================*/

/* ==================================(오른쪽 박스) */

.first_box {
    display: grid;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 150px;    /*4행*/
}
.second1_box {
    animation: move 2s ease-out;                              
}
.Question {
    display: flex;
    font-size: 4em;
    justify-content: center;
    align-items: center;
    color: #c3bab2;
    animation: move 3s;
    letter-spacing: 7px;
}
.first_box>p>span:nth-of-type(1) {
    font-size: 20px;
}
.sns_1{
    background: url(./img/Instagram.png) ;
}
.sns_2{
    background: url(./img/Facebook.png);
}
.sns_1,                                                 /*SNS아이콘 (공통)설정*/
.sns_2 {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
    background-size: 100% 100%;
}
.sns_1:hover {
    background: url(./img/Instagram.png);                  /*SNS아이콘 클릭효과*/
    background-size: 100% 100%;
    opacity: 0.5;
    transition: all 0.5s;
}
.sns_2:hover {
    background: url(./img/Facebook.png);
    background-size: 100% 100%;
    opacity: 0.5;
    transition: all 0.5s;
}
.sns_1:active,
.sns_2:active{
    transform: scale(1.1);
    
}
/* ==================================(왼쪽 박스) */

.input {
    background-color: rgb(255, 255, 255);            /*input박스 전체 setting*/
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    /* flex-direction: column; */
}
.input>input{                                          /*name,tel <input>태그 속성 설정*/
    outline: none;
    font-size: 15px;
    padding: 0 30px;
    line-height: 50px;
    border-radius: 10px;
    background: transparent;
    transition: 0.1s ease-out;
    border-color: #dbdbdb;
    width: 70%;
}
.input>input::selection{
    background-color: white;
}
.guide {                              /*상단 가이드 박스영역 및 배치 설정*/
    padding-right: 25%;
    height: 50px;
    color: #9a9a9a;
}
.labelline{                           /*<input>태그 모션효과 속성설정*/
    position: absolute;
    transition: 0.2s ease;
    padding: 0 10px;
    margin: 0 300px 0 0 ;
    background-color: white;
    pointer-events: none;             /* 커서 비활성화 */
    border-radius: 50%;
    text-wrap: nowrap;
}
input:focus + .labelline,
input:valid + .labelline{
    color: rgb(211, 182, 163);
    height: 30px;
    line-height: 30px;
    transform: translate(-16px,-27px) scale(0.88);
    z-index: 4;
}
.input1>textarea{                       /*문의 내용 입력창 설정*/
    border-radius: 10px;
    outline: none;
    padding: 10px;
    width: 75%;
    height: 80%;
    resize: none;
    font-size: 16px;
}
input#allow{                            /* allow 체크 박스 디자인 변경*/
    display: none;
}
.allow_checkBox input label{
    cursor: pointer;
}
input#allow + label:before{
    background-image: url(./img/circle_1.png) ;
    background-size: 100% 100%;
    content: "";
    width: 17px;
    height: 17px;
    display:inline-block;
}
input#allow:checked+label:before{
    background-image: url(./img/circle_2.png);
    background-size: 100% 100%;
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
}

.button_1{                                     /*전송 버튼 디자인 및 효과설정*/
    border: 2px solid #72645c; 
    background: transparent;
    width:30%;
    height: 45%;
    color: #796a56;
    font-size: 1.5em;
    margin-left: 50px;
    font-family: "Noto Serif KR", serif;
    border-radius: 10px;
    cursor: pointer;
}
.button_1:hover{
    background-color: #9f8c74;
    color: white;
    transition: all 0.35s ease-out;
}
.button_1 span:active {
    font-size: 95%;
    transition: all 0.35s ease;
}
/* =====================↓↓↓↓하단 문구 및 디자인↓↓↓↓=======================================*/
.ch_img{
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
}
.ch_img img{
    width: 100%;
    height: 100%;

}
img:hover{
    animation: jelly 0.6s ease;
}
.section_bottom{
    animation: move 1.5s ease-out;
    font-family: "Noto Serif KR", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    background: url(./hq.png) no-repeat;
    background-size: 100% 70%;
    color: #72645c;
    /* display: inline-block; */
    padding-bottom: 50px;
}
/* =====================↓↓↓↓keyframes 모음↓↓↓↓============================================*/
@keyframes move {
from{
    opacity: 0;
}
to{
    opacity: 1;
}
}
@media (width < 1500px){
    .grid_box {
        display: grid;
        grid-template: 1fr 1fr / 1fr;
    }
}
@keyframes jelly {
    from{transform: scale(1,1);}
    30%{transform: scale(1.25, 0.75);}
    40%{transform: scale(0.75, 1.25);}
    50%{transform: scale(1.15, 0.85);}
    65%{transform: scale(0.95, 1.05);}
    75%{transform: scale(1.05, 0.95);}
    to{transform: scale(1,1);}    
}
/* section 디자인 =========================================================================*/
