body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    /* padding: 3px; */
}

header,
main,
footer {
    width: calc(1920px * 0.8);
    margin: auto;
    
}

header *,
main *,
footer * {
    display: inline-block;
}

hr {
    display: block;
}

/*header===================================*/
header {
    display: flex;
    height: 20vh;
    align-items: center;
}

.header_back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 20%;
    height: 70%;
    float: left;
}

.logo>i {
    text-indent: -9999em;
}

.header_menu {
    width: 50%;
    height: 70%;
    float: right;
}

.header_menu ul {
    float: right;
}

.header_menu li {
    padding: 15px 20px;
}






/*main===================================*/
main {
    display: flex;
    height: 1500px;
}

.main_left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 30px;
}


.main_left>div {
    display: block;
}

.main_image {

    display: flex;
    flex-wrap: wrap;
}

.main_image>img {
    width: 100%;
}

.main_imglist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_imglist>img {
    width: 9%;

}

.main_detail {
    text-align: center;
    width: 90%;
    height: 5%;
    margin: 20px;
}

.main_detail button {
    font-size: 20px;
    width: 100%;
    height: 80px;
    background-color: transparent;
}

.main_note {
    margin-top: 40px;
    height: 60%;
}

.main_note p {
    display: block;
    white-space: pre-wrap;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.main_right {
    float: right;
    width: 49%;
    height: 99%;
}

.main_right>div {
    display: block;
}

.main_cal {
    height: max-content;
}

.main_sel1 {
    height: 5%;

}
.main_sel2 {
    height: 5%;
}

.main_sum {
    height: 5%;
}

.main_sel1,
.main_sel2,
.main_sum {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}


.main_menu {
    height: 5%;
    text-align: center;
}

.main_menu button:nth-child(1),
.main_menu button:nth-child(2) {
    width: 250px;
    height: 80px;
    font-size: 20px;
}

.main_menu button:nth-child(3) {
    width: 80px;
    height: 80px;
    font-size: 20px;
}

/*footer===================================*/
footer {
    height: 400px;
}

footer * {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.footer_top {
    width: 100%;
    height: 50%;
    background-color: RGB(237,230,223);
}


.footer_topleft {
    width: 40%;
    height: 100%;
    float: left;
}

.footer_info {
    margin: 30px;
}

.footer_info p{
    white-space: pre-wrap;
    line-height: 25px;
}

.footer_topright {
    width: 57%;
    height: 100%;
    float: right;
}

.footer_toprighttop {
    width: 100%;
    height: 50%;
}

.footer_toprighttop div{
    float: right;
    margin: 30px;
    width: 50%;
}

.footer_toprighttop ul{
    display: flex;
    justify-content: space-between;
}

.footer_toprightbottom {
    width: 100%;
    height: 50%;
}

.footer_toprightbottom div{
    float: right;
}

.footer_bottom {
    width: 100%;
    height: 50%;
    text-align: center;
}
