/* ============================ ↓↓↓ 주석 양식 ↓↓↓ ============================================*/
/* ============================ ↑↑↑ 주석 양식 ↑↑↑ ============================================*/
/* ↓↓↓ "작은" 주석 양식 ↓↓↓ */
/* ↑↑↑ "작은" 주석 양식 ↑↑↑ */

* {
    margin: 0;
    padding: 0;
}




.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}