* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    height: 100vh;
    width: 100%;
}

body::before {
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: url(./c9af05fe13543.jpg) no-repeat center/cover;
    position: fixed;
    z-index: -1;
}

header,
section,
footer {
    margin: auto;
}

/* header 디자인 ========================================================= */

/* nav 디자인 ========================================================= */
header {
    display: flex;
    height: 25vh;
    background-color: transparent;
    align-content: center;
    justify-content: center;
}

.nav_box {
    display: flex;
    width: calc(1920px * .8);
    padding: 0 15px;
}

.logo_design {
    display: flex;
    height: 120px;
    width: 50%;
}

.logo_design a {
    display: flex;
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-size: 200px;
    height: 120px;
    width: 100%;
    text-indent: -9999em;
}

.nav_main_menu {
    display: flex;
    height: 120px;
    width: 50%;
    justify-content: end;
}

.nav_top_ul {
    display: flex;
    height: 120px;
}

.nav_top_ul li {
    line-height: 120px;
    margin: 0 20px;
    padding: 0 5px;
}

.nav_top_ul li:hover>ul {
    display: block;
}

.nav_top_ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.nav_top_ul li a:hover {
    color: #e5e7eb;
}

.nav_deps1 {
    display: none;
    position: absolute;
    text-align: left;
    width: 150px;
    height: max-content;
}

.nav_deps1 li {
    display: block;
    line-height: 50px;
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0;
}

.nav_deps1 li a {
    display: block;
    background-color: white;
    padding-left: 15px;
    color: rgb(76, 78, 76);
}

.nav_deps1 li a:hover {
    background-color: rgb(237, 230, 223);
    color: white;
    transition: all 0.3s;
}


/* section 디자인 ========================================================= */

section {
    min-height: 60vh;
    max-height: max-content;
    background-color: rgb(255, 255, 255);
}

.section_box {
    margin: auto;
    max-height: 100%;
    min-height:  max-content;
    width: calc(1920px * .8);

    box-sizing: border-box;
    text-align: center;
}

/* .space{
    height: 50px;
}
.section_menu{
    display: inline-block;
    cursor:pointer
}
.space1{
    width: 50px;
}
.section_menu:hover{
    text-decoration: underline black 1px;
}
.notice_sub{
    margin-top: 100px;
    font-size: 300%;
    font-weight: bold;
}
.notice_ment{
    margin-top: 10px;
}
.d{
    margin-top: 100px;
    background: url(./4544806_box_business_comerce_delivery_shop_icon.png);
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    display: inline-block;
    opacity: 0.5;
}
.c{
    opacity: .5;
}


button {
    border: 0;
    padding: 7.5px 10px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    transition: 0.25s;
    color: #1e6b7b;
    border: 3px solid aliceblue;
}



button:hover {
    color: #1e6b7b;
    background: aliceblue;
}

button:active {
    transform: scale(1.25);
}
.second{
    background: url(./b2ce6df247e04.png);
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    margin-top: 300px;
}
button{
    margin-top:30px ;
    margin-bottom: 30px;
}
section>div div{
    font-size: 1.25em;

}
section button{
    font-size: 1.15em;
}

section div{
    font-family: "Stylish", serif;
} */

/* -------수정--------------------------------------------------------- */

.first_box span,
.grid_sub2 {
    font-family: "Noto Serif KR", serif;
    font-weight: 400;
    font-style: normal;
}

section div {
    /* border: 1px solid rgb(180, 180, 180); */
}

.grid_box {
    padding: 50px ;
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
    background: url(./frame1.png) no-repeat;
    height: min-content;
}

.input {
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 30;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    flex-direction: column;
}
.input>input{
    outline: none;
  
    font-size: 15px;
    padding: 0 30px;
    line-height: 50px;
    border-radius: 10px;
    background: transparent;
    transition: 0.1s ease;
    border-color: #dbdbdb;
    width: 70%;
   
}
.labelline{
    position: absolute;
    transition: 0.2s ease;
    padding: 0 10px;
    margin: 0 300px 0 0 ;
    background-color: white;
    pointer-events: none;
    border-radius: 50%;
    text-wrap: nowrap;
    
}
input:focus,
input:valid{

    z-index: 4;
    
}
input:focus + .labelline,
input:valid + .labelline{
    color: rgb(211, 182, 163);
    height: 30px;
    line-height: 30px;
    transform: translate(-16px,-27px) scale(0.88);
    z-index: 4;
}

.Question {
    font-size: 4em;
    font-weight: 500px;
}

.grid_sub1 {
    display: grid;
    grid-template: 3fr 2fr
}

.Question {
    display: flex;
    justify-content: center;
    align-items: center;

}

.Question>p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Question>p>span {


    animation: move 3s;
    position: absolute;
    letter-spacing: 7px;
    color: #c3bab2;

}

.second_box {
 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation: move 2s ease-out;
}


.sns_1,
.sns_2 {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;

}

section p {
    display: inline-block;
}

.first_box {
    display: grid;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 150px;
}

.first_box>p>span:nth-of-type(1) {
    font-size: 20px;

}

.guide {
    padding-right: 25%;
    height: 50px;
    align-items: center;
    color: #9a9a9a;

    

}
.section_bottom{
    animation: move 1.5s ease-out;

    font-family: "Noto Serif KR", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    background: url(./hq.png) ;
    background-size: 100% 100%;
    color: #72645c;
    display: inline-block;
}

@keyframes move {
from{
    opacity: 0;

}
to{
    opacity: 1;
    
}
}
.sns_1{
    background: url(./Instagram.png) ;
    background-size: 100% 100%;
}
.sns_2{
    background: url(./Facebook.png);
    background-size: 100% 100%;
}
.sns_1:hover {
    background: url(./Instagram.png);
    background-size: 100% 100%;
    opacity: 0.5;
    transition: all 0.5s;
}

.sns_2:hover {
    background: url(./Facebook.png);
    background-size: 100% 100%;
    opacity: 0.5;
    transition: all 0.5s;
}
.sns_1:active,
.sns_2:active{
    transform: scale(1.1);
    
}
.Question>p>span {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight:500px;
    font-style: normal;
}

.in_detail{
    height: 50px;
}
input::selection{
    background:rgb(255, 255, 255);
}
span::selection,
.section_bottom::selection,
.big::selection
{
    background: #e4d4cc;
    color: #72645c;
}
.input1>textarea{
    border-radius: 10px;
    outline: none;
    padding: 10px;
    width: 75%;
    height: 80%;
   resize: none;
   font-size: 16px;

}
big{
    position: left;
}
.grid_sub2{
    display: grid;
    grid-template-rows: 0.15fr 0.7fr 0.7fr 2.5fr 1fr;
}
.allow_checkBox input{

    display: inline-block;
    width: 13px;
  
}
.allow_checkBox{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: start;
    padding-left: 13%;
    

}
input#allow{
    display: none;
}
.allow_checkBox input label{
    cursor: pointer;
}
.allow_checkBox label span {
    padding-left:5px ;
    vertical-align: middle;
}
input#allow + label:before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border:2px solid #807570 ;
    border-radius: 2px;
    vertical-align: middle;
}
input#allow:checked+label:before{
    content: "";
    background-image: url(./check.png) 100% 100%;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    background-color: #807570;

}


/* section 디자인 ========================================================= */


/* footer 디자인 ========================================================= */
footer {
    display: flex;
    height: 200px;
    background-color: rgb(237, 230, 223);
    justify-content: center;
    align-content: center;
}

.footer_box {
    display: flex;
    width: calc(1920px * .8);
    margin: 0 15px;
}

.Business_infor {
    display: flex;
    width: 50%;
    height: 200px;
}

.Business_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    margin: 10px 0;
}

.nav_footer_menu {
    display: flex;
    justify-content: end;
    width: 50%;
    height: 50px;
}

.nav_bottom_ul {
    display: flex;
    margin: 10px 0;
    text-align: right;
}

.nav_bottom_ul li {
    display: inline-block;
    margin: 0 20px;
}

.nav_bottom_ul li a {
    display: block;
    text-decoration: none;
    color: #5e5e5e;
}

.nav_bottom_ul li a:hover {
    color: #3c3733;
}